/*COLORS*/ 

/*Text*/ 
$primaryColor: #000000;
$secondaryColor: #312D2C;
$greyColor: #6F6F6F;
$greyLightColor: #868686;
$lightColor: #FFFFFF;
$priceColor: #312D2C;
$footerLinkColor: #AAAFCB;
$footerCopyright: #D7D8DF;

/*Background*/ 
$bg: #FFFFFF;
$bgCard: #F4F4F4;
$bgDark: #757EB2;
$bgFooter: #131C53;
$bgFooterLeft: #2B3574;
$bgFooterDark: #292929;
$bgFooterLight: #2B3574;

/*Button*/ 
$btnColor: #FF5A2C;
$btnColor2: #008BF3;

/*Form*/ 
$borderFormColor: #959595;
$inputSearchText: #6F6F6F;
$textForm: #ADADAD;
$borderSearchColor: #D9D9D9;

$lineColor: #D2D2D2;
$lineTableColor: #B9B9B9;
$circleDescColor: #E4E4E4;

/*SIZE*/ 
$containerWidth: 1170px;

/* FONTS */ 

/*Roboto*/ 
$fontFamily: "Roboto", sans-serif;
$fontFamilyLight: "Roboto-Light", sans-serif;
$fontFamilyMedium: "Roboto-Medium", sans-serif;
$fontFamilyBold: "Roboto-Bold", sans-serif;

/*Montserrat*/ 
$fontFamilySecondary: 'Montserrat', sans-serif;

$fontSize: 14px;

$fontSize-h1: 32px;
$fontSize-h2: 24px;
$fontSize-h3: 16px;
$fontSize-h4: 16px;