.footer {   
   position: relative;
   padding-top: 60px;
   background: $bgFooter url(../img/footer/dark-block.png) center center / cover no-repeat;
   &::before {
      content: '';
      display: block;
      width: 135px;
      height: auto;
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      background: $bgFooterLeft url(../img/footer/black-block.png) right center / cover no-repeat;
   }
   &-block {
      padding-bottom: 70px;
   }
   &-contact {
      color: $lightColor;
      &__logo {
         display: block;
         margin-bottom: 43px;
      }
      &__title {
         margin-bottom: 15px;
      }
      &-link {
         display: inline-block;
         font-family: $fontFamilySecondary;
         font-weight: 600;
         font-size: 16px;
         color: $lightColor;
         margin-bottom: 10px;
         @include transitionColor;
         &:hover {
            color: $btnColor2;
         }
      }
      &__mode {
         font-family: $fontFamilySecondary;
         font-weight: 400;

      }

   }
   &-nav {
      &__item:not(:last-child) {
         display: block;
         margin-bottom: 15px;      
      }
      &__link {
         display: block;
         color: $lightColor;
         font-family: $fontFamilyMedium;
         font-weight: 500;
         font-size: 16px;
         @include transitionColor;  
         &:hover {
            color: $btnColor2;
         }
      }
      &__block {
         margin-bottom: 20px;
      }
      &__subcategory {
         font-size: 14px;
         display: none;
      }
      &__subcategory-item:not(:last-child) {
         margin-bottom: 20px;

      }
      &__subcategory-link {
         color: $footerLinkColor;
         @include transitionColor;
         &:hover {
            color: $btnColor2;
         }
      }
   }
   &-column-2 {
      // 
      margin-top: 30px;
      .footer-nav__subcategory{
         margin-top: 27px;
      }
   }
   &-column-3 .footer-nav__subcategory{
      margin-top: 45px;
   }
}